/*!------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT:	Project Name
VERSION:	Versoin Number
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/

@import "variables";

@import "mixins";

@import "typography";

@import "buttons";

@import "common";

@import "templates/navigation";

@import "templates/hero-area";

@import "templates/homepage";

@import "templates/blog";

@import "templates/about";

@import "templates/portfolio";
@font-face {
  font-family: "BwNistaInt-xBd";
  src: url("./BwNistaInt-xBd.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
